:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: blue;
	color: #000680;
	background-color: #a1ffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
h1 {
	font-size: 3.2em;
	line-height: 1.1;
}


.heading{
	background-color: azure;
	border-style: solid;
	border-width: 0;
	border-radius: 8px;

	box-shadow: 0 0 10px 0 rgba(0, 180, 153, 0.25);

	padding-left: 20%;
	padding-right: 20px;
	padding-top: 5px;

	display: flex;
}
h1{
	margin-bottom: 10px;
}

.information{
	background-color: azure;
	border-style: solid;
	border-width: 0;
	border-radius: 8px;

	box-shadow: 0 0 10px 0 rgba(0, 180, 153, 0.25);

	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 2%;

	box-sizing: border-box;
}
.tools{
	width: 80%;
}
.content{
	display: grid;
	grid-template-columns: 50% 50%;
	text-align: left;
	margin-left: 9%;

}
.info{
	display: grid;
	grid-template-rows: 50% 50%;
}

.contacts{
	background-color: azure;
	border-style: solid;
	border-width: 0;
	border-radius: 8px;

	box-shadow: 0 0 10px 0 rgba(0, 180, 180, 0.5);

	padding: 20px;
	padding-top: 2px;

	width: 80%;
	height: 80%;
}
 .number{
	display: flex;
}
.icons{
	display: flex;
}